{% extends 'base.html' %}
{% load static %} 
{% block content %} 


    <!-- Hero Section -->
    <section class="hero text-center position-relative">
        <div class="container py-5">
            <h1 class="display-5 fw-bold">Welcome to SerenityCare General Hospital</h1>
            <p class="display-6 text-uppercase">Where Compassion Meets Innovation</p>
        </div>
    </section>

    <!-- Info Cards Overlapping -->
    <div class="container position-relative" style="z-index: 10; margin-top: -60px;">
        <div class="row text-center g-4">
            <div class="col-md-4">
                <div class="info-card p-4">
                    <i class="bi bi-clock me-2" style="font-size: 1.5rem; color: #004040;"></i>
                    <h5>Working Hours</h5>
                    <p>Sun - Wed: 8:00 - 20:00<br>Thu - Fri: 9:00 - 21:00<br>Sat - Sun: 10:00 - 17:00</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-card p-4">
                    <i class="bi bi-calendar-check" style="font-size: 1.5rem; color: #004040;"></i>
                    <h5>Online Appointment</h5>
                    <p>24/7 service.</p>
                    <p> Get all-time support for emergency.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary" style="background-color: #175f65;">Make an Appointment</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-card p-4">
                    <i class="bi bi-telephone" style="font-size: 1.5rem; color: #004040;"></i>
                    <h5>Emergency Cases</h5>
                    <p>Call 1-800-700-6200 for immediate support.</p>
                    <p>24/7 service.</p>
                </div>
            </div>
       </div>
    </div>


    <!-- Services Section -->
    <div class="text-center my-5">
        <h3>Departments</h3>
        <div class="row container mx-auto mt-4 g-3">
            <div class="col-md-3"><div class="info-card">Emergency & Trauma</div></div>
            <div class="col-md-3"><div class="info-card">General Medicine</div></div>
            <div class="col-md-3"><div class="info-card">Cardiology</div></div>
            <div class="col-md-3"><div class="info-card">Obstetrics & Gynecology</div></div>
            <div class="col-md-3"><div class="info-card">Pediatrics</div></div>
            <div class="col-md-3"><div class="info-card">Radiology & Imaging</div></div>
        </div>
    </div>


{% endblock %}

